<div class="label">
  <h1>Reply:</h1>
</div>

<ul>
    <div class="tweet">
      <div class="tweetstats">


        <div class="tweetUserInfo">
            <div class="tweetusercontent">
              <img class = 'tweetpic' src = "<%= @reply.user.avatar%>" alt = "prof pic" >
            </div>
            <div class="tweetfullname">
              <strong><%="#{@reply.user.first_name} #{@reply.user.last_name}"%></strong>
            </div>
            <div class="tweetusername">
              <a href="/users/<%=@reply.user_id%>">@<%= @reply.user.username %></a>
            </div>
            <div class="tweetusercontent">
              <% if (((Time.now - @reply.created_at)/60/60).round) > 23 %>
                <p><%= (((Time.now - @reply.created_at)/60/60/24).round) %>d</p>
                <% elsif ((((Time.now - @reply.created_at)/60).round) > 60)%>
                  <p><%= (((Time.now - @reply.created_at)/60/60).round) %>h</p>
                <% else %>
                  <p><%= (((Time.now - @reply.created_at)/60).round) %>m</p>
                <% end %>
            </div>
        </div>

        <div class="tweetcontent">
          <p><%= @reply.content %></p>
        </div>


        <div class="updatedeletereply">
          <div class="editReply">
            <p><%= link_to "Edit", edit_tweet_reply_path(@reply.tweet, @reply) %></p>
          </div>

          <div class="deleteReply">
            <p><%= link_to "Delete", tweet_reply_path(@reply.tweet, @reply), method: :delete%></p>
          </div>
        </div>


      </div>
    </div>
</ul>
