<p><%= @user.email %> </p>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.username %></p>


<p><%= @user.followers.count %> </p>
<p><%= @user.following.count %> </p>

<% if current_user.id != @user.id %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <%= hidden_field_tag :followed_id, @user.id %>
      <%= f.submit "Follow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
       html: {method: :delete}) do |f| %>
      <%= f.submit "Unfollow" %>
    <% end %>
<% end %>





<img class = 'profpic' src="<%= @user.avatar %>" alt="Prof Pic">

<body>
      <div class="mainFeed">
          <ul>
            <% @user.tweets.each do |tweet| %>
            <div class="tweet">

              <p><%= link_to "#{tweet.content}", tweet_path(tweet) %></p>

              <div class="tweetstats">

                <div class="tweetcontent">
                  <img class = 'tweetpic' src = "<%= @user.avatar%>" alt = "prof pic" >
                </div>

                <div class="tweetcontent">
                  <a href="/users/<%= tweet.user_id%>"><%= @user.username %></a>
                </div>

                <div class="tweetcontent">
                  <% if tweet.users.include? current_user %>
                    <p><%= link_to "&hearts;".html_safe, remove_favorite_tweet_path(tweet), method: :delete, class: "fav" %></p>
                  <% else %>
                    <p><%= link_to "&hearts;".html_safe, add_favorite_tweet_path(tweet), method: :post, class: "nofav" %></p>
                  <% end %>
                  <p><%= tweet.favorites.count %> </p>
                </div>

                <div class="tweetcontent">
                  <% if (((Time.now - tweet.created_at)/60/60).round) > 23 %>
                    <p><%= (((Time.now - tweet.created_at)/60/60/24).round) %>d ago</p>
                    <% elsif ((((Time.now - tweet.created_at)/60).round) > 60)%>
                      <p><%= (((Time.now - tweet.created_at)/60/60).round) %>h ago</p>
                    <% else %>
                      <p><%= (((Time.now - tweet.created_at)/60).round) %>m ago</p>
                    <% end %>
                </div>
              </div>

            </div>
            <% end %>
          </ul>
        </div>
</body>
