<!DOCTYPE html>
<html>
  <head>
    <title>AltTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <div class="head">
          <%if !current_user%>
            <div class="headuser">
              <%= link_to "Sign Up", new_user_registration_path %>
            </div>

            <div class="headCont">
              altTwitter
            </div>

            <div class="headuser">
              <%= link_to "Sign In", new_user_session_path%>
            </div>

          <% else%>

            <div class="headuser">
              <%=link_to "My Profile", user_path(current_user)%>
              <%=link_to "All Users", users_path %>
            </div>

            <div class="headCont">
              altTwitter
            </div>

            <div class="headuser">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
            </div>
          <% end%>
        </div>
    </header>

    <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>

    <%= yield %>
  </body>
</html>
